<!DOCTYPE html>
<html lang="es">
<%- include("partials/head") %> 
<header><a href="/">Formulario</a></header>
<body style="background-color:<%= color? color:"transparent"%>">
    <h3>Gracias por visitarnos.</h3>
</body>
</html>